
.container{
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.top_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 15px;
}

.top_image{
    width: 35px;
}

.right{
    margin-right: 0;
    margin-left: auto;
}

.card_flex_above_mdowod {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
    order: 0;
}

.add_documents {
    order: 1;
    margin-left: auto;
}

.all_documents {
    order: 1;
}

.card{
    display: grid;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 230px;
    width: 370px;
    background-color: white;
}

.background{
    width: max-content;
    height: 250px;
}

.id_bottom{
    position: absolute;
    width: 100%;
    background-color: white;
    height: 60px;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.name{
    margin-left: 20px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    font-weight: 600;
}

.human{
    position: absolute;
    top: 28px;
    left: 28px;
    width: 20px;
}

.arrow{
    margin-right: 15px !important;
}

.card_flex_above_services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all_services {
    order: 1;
    margin-left: auto;
}

.services_grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.service_box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service_box_icon{
    width: 55px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.service_box_name{
    width: 80px;
    margin-top: 5px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 13px;
    opacity: 0.5;
}
